name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Searching Tests
      id: searching-tests
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 5
        max-score: 5
        setup-command: ''
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        SEARCHING-TESTS_RESULTS: "${{steps.searching-tests.outputs.result}}"
      with:
        runners: searching-tests
